.directory

.idea/
.vscode/
.vs/
build/

docs/build
docs/latex
docs/source/_.*/
docs/source/modules

CMakeLists.txt.*
CMakeSettings.json

typings/
__pycache__/
.pytest_cache/
*.pyc
*.egg-info/

*.o
*.a
*.so
*.bin

*.csv
*.xls
*.xlsx

*.log
*.pkl

config.json